h1{
    text-align: center;
    color: brown;
}

h3{
    text-align: center;
}

img {
    width: 60%;
    height: 45%;
    margin-left: 20%;   
}

p{
    border: 1px solid white;
    color: white;
}

html{
    background-color: black;
}

